@import "tailwindcss";

@theme {
  /* dark mode (default) */
  --color-dark: #0b132b;
  --color-dark-alt: #1c2541;
  --color-text-dark: #f9f9f9;
  --color-primary-dark: #3a506b;
  --color-secondary-dark: #5bc0be;
  --color-accent-dark: #6fffff;

  /* light mode */
  --color-bg-light: #facc15;
  --color-text-light: #6ee7b7;
  --color-primary-light: #ff5ec0;
  --color-accent-light: #04c22a;
}
