@import "tailwindcss";

@theme {
  /* dark mode (default) */
  --color-dark-bg: #040507;
  --color-dark-surface: #111827;
  --color-dark-text: #e2e8f0;
  --color-dark-primary: #9f5fbb;
  --color-dark-secondary: #c084fc;
  --color-dark-accent: #e9d5ff;
}

/* base styles */
body {
  @apply text-dark-text font-[Montserrat];
}

/* socials */
.socials a {
  @apply max-w-min;
}
