@import "tailwindcss";

@theme {
  /* dark mode (default) */
  --color-dark-bg: #0a0f1f;
  --color-dark-surface: #090c19;
  --color-dark-text: #e6edf7;
  --color-dark-primary: #3aff;
  --color-dark-secondary: #00bcd4;
  --color-dark-accent: #14f1d9;
}

/* base styles */
body {
  @apply text-dark-text font-[Montserrat];
}

nav li,
a {
  @apply cursor-pointer hover:text-dark-text/70;
}

/* socials */
.socials a {
  @apply text-3xl max-w-min;
}
